In [7]:
import pandas as pd
import json

In [8]:
# First, run your experiments, e.g., via `experiments.ipynb`.

In [9]:
with open('results.json', 'r') as f:
    inp = json.load(f)
df = pd.json_normalize(inp)
df['load_data.dataset_name'] = df['load_data.dataset_name'].apply(lambda x: x.lower())

In [10]:
df_dasgupta = df[df['model.model_params.loss'] == 'DASGUPTA']
df_tsd = df[df['model.model_params.loss'] == 'TSD']

In [11]:
df_dasgupta.groupby(['load_data.dataset_name', 'model.model_params.loss'], dropna=False)[['results.dasgupta']].agg(['mean'],).round(2)

                                               results.dasgupta
                                                           mean
load_data.dataset_name model.model_params.loss
citeseer               DASGUPTA                           83.69
polblogs               DASGUPTA                          355.61

In [12]:
df_tsd.groupby(['load_data.dataset_name', 'model.model_params.loss'], dropna=False)[['results.skn_TSD']].agg(['mean'],).round(2)

                                               results.skn_TSD
                                                          mean
load_data.dataset_name model.model_params.loss
citeseer               TSD                               68.57
polblogs               TSD                               28.10